.container {
  align-items: center;
  background-color: var(--green);
  background-image: url('../images/fundo.svg');
  background-size: 102%;
  display: flex;
  height: 100vh;
  justify-content: center;
  mix-blend-mode: luminosity;
  width: 100vw;
}

.formCard {
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: -4px 9px 13px rgba(3, 107, 82, 0.3);
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-around;
  width: 45%;
}

.imgContainer {
  align-items: center;
  display: flex;
  height: 30%;
  justify-content: center;
  width: 60%;
}

.imgContainer img {
  height: 100%;
  width: 100%;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: space-around;
  width: 60%;
}

.email {
  background: var(--white);
  border: 2px solid var(--blue);
  border-radius: 7px;
  font-size: 100%;
  outline-color: var(--green);
  padding: 15px;
}

.pass {
  background: var(--white);
  border: 2px solid var(--blue);
  border-radius: 7px;
  font-size: 16px;
  outline-color: var(--green);
  padding: 15px;
}

.buttonContainer {
  display: flex;
  height: 20%;
  justify-content: center;
  width: 60%;
}

.buttonEnabled {
  background-color: var(--blue);
  border-radius: 7px;
  color: var(--white);
  cursor: pointer;
  font-size: large;
  height: 50%;
  width: 100%;
}

.buttonDisabled {
  background-color: rgb(248, 248, 248);
  border-radius: 7px;
  color: rgb(151, 151, 151);
  font-size: large;
  height: 50%;
  width: 100%;
}

input::placeholder {
  color: var(--blue);
}

@media ( min-width : 2600px ) {

  .email {
    background: var(--white);
    border: 2px solid var(--blue);
    border-radius: 7px;
    font-size: 24px;
    outline-color: var(--green);
    padding: 20px;
  }

  .pass {
    background: var(--white);
    border: 2px solid var(--blue);
    border-radius: 7px;
    font-size: 24px;
    outline-color: var(--green);
    padding: 20px;
  }

  .buttonEnabled {
    background-color: var(--blue);
    border-radius: 7px;
    color: var(--white);
    cursor: pointer;
    font-size: 24px;
    height: 50%;
    width: 100%;
  }

  .buttonDisabled {
    background-color: rgb(248, 248, 248);
    border-radius: 7px;
    color: rgb(151, 151, 151);
    font-size: 24px;
    height: 50%;
    width: 100%;
  }
}

@media ( min-width : 3800px ) {

  .email {
    background: var(--white);
    border: 2px solid var(--blue);
    border-radius: 7px;
    font-size: 36px;
    outline-color: var(--green);
    padding: 40px;
  }

  .pass {
    background: var(--white);
    border: 2px solid var(--blue);
    border-radius: 7px;
    font-size: 36px;
    outline-color: var(--green);
    padding: 40px;
  }

  .buttonEnabled {
    background-color: var(--blue);
    border-radius: 7px;
    color: var(--white);
    cursor: pointer;
    font-size: 36px;
    height: 50%;
    width: 100%;
  }

  .buttonDisabled {
    background-color: rgb(248, 248, 248);
    border-radius: 7px;
    color: rgb(151, 151, 151);
    font-size: 36px;
    height: 50%;
    width: 100%;
  }
}

@media ( max-width : 1400px ) {

  .email {
    background: var(--white);
    border: 2px solid var(--blue);
    border-radius: 7px;
    font-size: 16px;
    outline-color: var(--green);
    padding: 15px;
  }

  .pass {
    background: var(--white);
    border: 2px solid var(--blue);
    border-radius: 7px;
    font-size: 16px;
    outline-color: var(--green);
    padding: 15px;
  }

  .buttonEnabled {
    background-color: var(--blue);
    border-radius: 7px;
    color: var(--white);
    cursor: pointer;
    font-size: 20px;
    height: 60%;
    width: 100%;
  }

  .buttonDisabled {
    background-color: rgb(248, 248, 248);
    border-radius: 7px;
    color: rgb(151, 151, 151);
    font-size: 20px;
    height: 60%;
    width: 100%;
  }
}

@media ( max-width : 1200px ) {

  .email {
    background: var(--white);
    border: 2px solid var(--blue);
    border-radius: 7px;
    font-size: 16px;
    outline-color: var(--green);
    padding: 12px;
  }

  .pass {
    background: var(--white);
    border: 2px solid var(--blue);
    border-radius: 7px;
    font-size: 16px;
    outline-color: var(--green);
    padding: 12px;
  }

  .buttonContainer {
    display: flex;
    height: 20%;
    justify-content: center;
    width: 60%;
  }
}

@media ( max-width : 992px ) {

  .imgContainer {
    align-items: center;
    display: flex;
    height: 20%;
    justify-content: center;
    width: 85%;
  }

  .inputsContainer {
    display: flex;
    flex-direction: column;
    height: 30%;
    justify-content: space-around;
    width: 75%;
  }

  .email {
    background: var(--white);
    border: 2px solid var(--blue);
    border-radius: 7px;
    font-size: 16px;
    outline-color: var(--green);
    padding: 18px;
  }

  .pass {
    background: var(--white);
    border: 2px solid var(--blue);
    border-radius: 7px;
    font-size: 16px;
    outline-color: var(--green);
    padding: 18px;
  }

  .buttonContainer {
    display: flex;
    height: 15%;
    justify-content: center;
    width: 75%;
  }
}

@media ( max-width : 768px ) {

  .inputsContainer {
    display: flex;
    flex-direction: column;
    height: 35%;
    justify-content: space-around;
    width: 85%;
  }

  .email {
    background: var(--white);
    border: 2px solid var(--blue);
    border-radius: 7px;
    font-size: 16px;
    outline-color: var(--green);
    padding: 15px;
  }

  .pass {
    background: var(--white);
    border: 2px solid var(--blue);
    border-radius: 7px;
    font-size: 14px;
    outline-color: var(--green);
    padding: 15px;
  }

  .buttonContainer {
    display: flex;
    height: 15%;
    justify-content: center;
    width: 85%;
  }
}

@media ( max-width : 576px ) {

  .formCard {
    align-items: center;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: -4px 9px 13px rgba(3, 107, 82, 0.3);
    display: flex;
    flex-direction: column;
    height: 65%;
    justify-content: space-around;
    width: 65%;
  }

  .email {
    background: var(--white);
    border: 2px solid var(--blue);
    border-radius: 7px;
    font-size: 16px;
    outline-color: var(--green);
    padding: 15px;
  }

  .pass {
    background: var(--white);
    border: 2px solid var(--blue);
    border-radius: 7px;
    font-size: 15px;
    outline-color: var(--green);
    padding: 15px;
  }
}
