.container {
  align-items: center;
  background-color: var(--green);
  background-image: url('../images/fundo.svg');
  background-size: 102%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

.container2 {
  align-items: center;
  background: var(--white);
  border-radius: 10px;
  box-shadow: -4px 9px 13px rgba(5, 18, 54, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}
