.container {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 40%;
  justify-content: space-around;
  width: 100%;
}

.logo {
  width: 25%;
}

.logo img {
  width: 100%;
}

.expense {
  align-items: center;
  display: flex;
  font-family: Epilogue, sans-serif;
  height: 20%;
  justify-content: center;
  width: 25%;
}

.expense img {
  padding-right: 13px;
  width: 15%;
}

.expense p {
  color: var(--blue);
  font-size: 18px;
  font-weight: 700;
  padding-right: 10px;
}

.expense span {
  color: var(--blue);
  font-size: 20px;
}

.email {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 25%;
}

.email img {
  padding-right: 10px;
}

.email span {
  color: var(--green);
  font-family: Epilogue, sans-serif;
  font-size: 18px;
}
